:root {
  --primary-text-color: #212121;
  --button-blue-color: #2196f3;
  --secondary-text-color: #ffffff;
  --footer-color: #2f303a;
  --font-logo: "Raleway", sans-serif;
  --main-text-color: #757575;
  --color-transparent: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --main-background: #e5e5e5;
  --social-link-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* background-color: var(--main-background); */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* .nav-list,
.Contacts-Section-Link {.
  color: inherit;
  text-decoration: none;
} */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.black .nav-list {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.container {
  text-align: center;
  max-width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.padding-95 {
  padding-bottom: 95px;
  /* padding-top: 95px; */
}
.top-padding {
  padding-top: 95px;
}

/* .gallery {
  padding-top: 95px;
} */

.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .item-link + .item-link {
  margin-left: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

/* .Contacts-Section-Link::before {
  background-image: ;

} */

.qualities {
  margin-bottom: -30px;
  margin-right: -30px;
  /* padding-top: 95px; */
  text-align: left;
}

.quality {
  flex-basis: calc((100% - 30px * 4) / 4);
  max-width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.quality:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.quality > p {
  line-height: 1.71;
}

.Contacts-Section-Link {
  display: flex;
  align-items: center;
}

.contact-svg {
  fill: currentColor;
  margin-right: 10px;
  /* align-items: center; */
}

/* .Contacts-Section-Link-1 {
  display: block;
  content: "";
  background-color: var(--main-text-color);
  background-image: url(/svg/);
} */

/* .quality::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-position: center;
  background-color: var(--button-color);
  border-radius: 4px;
  margin-bottom: 20px;
} */

/* .social-links {
  width: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
} */

.black {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  margin-left: 95px;
}

.current {
  color: var(--button-blue-color);
}

.list a:hover,
.list a:focus {
  color: var(--button-blue-color);
}

header {
  border-bottom: 1px solid #ececec;
}

.main-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 88px;
}
/* .clients {
  flex-basis: calc((100% - 30px * 6) / 6);
  border: 1px solid #afb1b8;
  border-radius: 4px;
   padding-bottom: 16px; 
  padding: 16px 30px;
} */

.clients {
  display: inline-flex;

  /* width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-color: var(--social-link-color);
  border-radius: 4px;
  padding: 16px 32px; */
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.clients:not(:last-child) {
  margin-right: 30px;
}

.client-logo {
  width: 105px;
  height: 60px;
  fill: var(--social-link-color);
}

.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: var(--button-blue-color);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--button-blue-color);
}

/* .pics {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
 }

.pics:not(:nth-child(3n + 3)) {
  margin-right: 30px;
} */

.pics-element {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
}

.pics-element:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.photo:not(:nth-child(4n + 4)) {
  flex-basis: calc((100% - 90px) / 4);
  max-width: 270px;
}

.photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.photo:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}

.section-title {
  font-size: 14px;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.folio-title {
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.folio-text {
  text-align: left;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.quality {
  font-size: 14px;
  line-height: 1.14;
}

.grey-section {
  padding-bottom: 95px;
  padding-top: 95px;
  background-color: var(--button-color);
}

h3.people-name {
  font-weight: 500;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.people-det {
  background-color: #ffffff;
  padding-bottom: 30px;
  padding-top: 30px;
}

.solutions {
  background-color: var(--footer-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  text-align: center;
  /* margin-bottom: 30px; */
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.dessisions {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.blue {
  color: var(--button-blue-color);
}

.logo {
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.logo-links {
  text-align: left;
  margin-right: 70px;
}
/* padding-top: 60px;
  padding-bottom: 60px;
*/

.black .item + .item {
  margin-left: 50px;
}

.button {
  padding: 6px 22px;
  border: var(--main-text-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  font-family: Roboto, sans-serif;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.li-button {
  justify-content: center;
  margin-right: 8px;
}

.li-button:last-child {
  margin-right: 0;
}

.button:active,
.button:hover,
.button:focus,
.button-blue {
  background-color: var(--button-blue-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.service-button {
  padding: 10px 32px;
  border: 1px solid var(--button-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list.flex {
  justify-content: left;
}
.in-ln.flex {
  justify-content: center;
  margin-bottom: 50px;
}

.grey-section-qual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--button-color);
}

/* .quality-pic {
} */

.people-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  margin-right: 10px;
}

.people-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.people-link:hover,
.people-link:focus {
  background-color: var(--button-blue-color);
}
.people-link:hover .people-soc-link,
.people-link:focus .people-soc-link {
  fill: #fff;
}

.people-soc-link {
  fill: var(--social-link-color);
  height: 20px;
  width: 20px;
}

.tiles {
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}
.tile-item {
  min-width: 370px;
  flex-basis: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.folio-section {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.footer {
  background-color: var(--footer-color);
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

.white {
  color: var(--secondary-text-color);
}

.address {
  margin-top: 20px;
  font-style: inherit;
  /* margin-right: auto;
  text-align: start; */
}

.social-list {
  display: inline-flex;
}

.white li {
  padding-bottom: 9px;
}
.white a {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  text-decoration: none;
}

.transparent a {
  color: rgba(255, 255, 255, 0.6);
}

/* :root { 
    --main-text-color: rgb(61, 14, 14);
}

 font-family: 'Roboto', sans-serif

p:hover {
    color: red
}

.Contacts-Section-Link:active {
    color: var(--main-text-color);
}

.Contacts-Section-Link {
    color: green;
}

}*/

/* body {
  background: rgb(45, 122, 86);
  background: linear-gradient(
    90deg,
    rgba(45, 122, 86, 1) 4%,
    rgba(57, 180, 145, 1) 19%,
    rgba(136, 126, 31, 1) 57%,
    rgba(134, 168, 66, 1) 100%,
    rgba(125, 134, 68, 1) 100%
  );
} */
/* <svg width="970" height="70" viewBox="0 0 970 70" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M67.3163 48.3385L48.8468 29.7337L50.8966 19.6373C51.4256 19.8438 51.9879 19.9517 52.5556 19.9558H52.5696C55.1777 19.9866 57.3169 17.8974 57.3479 15.2893C57.3788 12.6812 55.2894 10.542 52.6813 10.5111C50.0732 10.4803 47.934 12.5695 47.9031 15.1776C47.8965 15.7357 47.9888 16.2905 48.176 16.8163L37.326 18.1405L19.6276 0.35C19.4105 0.128479 19.1141 0.00247917 18.804 0C18.4977 0.00160417 18.2044 0.123521 17.9873 0.3395L14.6786 3.6295C14.2232 4.08508 14.2232 4.82358 14.6786 5.27917L16.459 7.08517C9.56162 19.7681 11.8019 35.4741 21.9703 45.7228C22.0636 45.8121 22.1718 45.8843 22.29 45.9363C22.2165 46.3311 22.1781 46.7317 22.1756 47.1333V60.6667H8.17562C4.95562 60.6705 2.34608 63.28 2.34229 66.5V68.8333C2.34229 69.4776 2.86466 70 3.50895 70H57.1756C57.8199 70 58.3423 69.4776 58.3423 68.8333V66.5C58.3385 63.28 55.729 60.6705 52.509 60.6667H38.509V54.6688C40.7021 55.1288 42.9367 55.3633 45.1776 55.3688C50.5548 55.363 55.8464 54.0225 60.5776 51.4675L62.3673 53.2677C62.5844 53.4892 62.8808 53.6152 63.191 53.6177C63.4972 53.6161 63.7905 53.4941 64.0076 53.2782L67.3163 49.9882C67.7717 49.5326 67.7717 48.7941 67.3163 48.3385ZM50.9246 13.6348C51.8383 12.726 53.3157 12.7301 54.2244 13.6437C55.1332 14.5574 55.1291 16.0348 54.2155 16.9435C53.7781 17.3785 53.1864 17.6226 52.5695 17.6225H52.5625C51.2739 17.6158 50.2345 16.5658 50.2412 15.2771C50.2445 14.6602 50.4918 14.0699 50.9291 13.6348H50.9246ZM48.1783 21.301L46.8693 27.7445L44.298 25.158L48.1783 21.301ZM46.853 19.3282L42.653 23.5037L39.4038 20.237L46.853 19.3282ZM52.509 63C54.442 63 56.009 64.567 56.009 66.5V67.6667H4.67562V66.5C4.67562 64.567 6.2426 63 8.17562 63H52.509ZM36.1756 58.3333V60.6667H24.509V58.3333H36.1756ZM24.509 56V47.1333C24.509 44.303 27.1258 42 30.3423 42C33.5588 42 36.1756 44.303 36.1756 47.1333V56H24.509ZM38.509 52.29V47.1333C38.509 43.0162 34.8456 39.6667 30.3423 39.6667C27.4306 39.622 24.7079 41.1041 23.165 43.5738C14.2887 34.2249 12.2899 20.2875 18.1805 8.82073L58.872 49.7455C52.5886 52.9419 45.3857 53.8418 38.509 52.29ZM63.2038 50.7943L61.56 49.1412L18.7923 6.11567L17.1415 4.46133L18.7923 2.81633L36.15 20.272C36.1581 20.272 36.1628 20.2872 36.171 20.293L64.8593 49.1493L63.2038 50.7943Z" fill="#212121"/>
<path d="M30.3528 44.3333H30.3423C28.4093 44.3304 26.84 45.895 26.837 47.8281C26.8341 49.7611 28.3988 51.3304 30.3318 51.3333H30.3423C32.2753 51.3362 33.8446 49.7716 33.8475 47.8386C33.8505 45.9055 32.2858 44.3362 30.3528 44.3333ZM31.1695 48.6605C30.9498 48.8789 30.6522 49.0012 30.3423 49C29.698 48.9966 29.1784 48.4716 29.1817 47.8273C29.1834 47.5189 29.307 47.2237 29.5256 47.0062C29.7428 46.7902 30.036 46.6683 30.3423 46.6667C30.9866 46.67 31.5062 47.195 31.5028 47.8393C31.5012 48.1477 31.3776 48.4429 31.159 48.6605H31.1695Z" fill="#2196F3"/>
<g clip-path="url(#clip0)">
<path d="M368.461 33.4715C368.458 14.9819 353.466 -0.00373771 334.975 6.99302e-07C316.486 0.00373911 301.5 14.9963 301.504 33.4859C301.507 48.0502 310.925 60.9413 324.8 65.3713C324.932 65.413 325.07 65.4343 325.208 65.4338C325.472 65.4333 325.73 65.3628 325.957 65.2287C326.253 65.0541 326.473 64.7764 326.577 64.449L335.032 37.6521C337.343 37.6404 339.207 35.7568 339.194 33.4459C339.183 31.1345 337.3 29.2706 334.988 29.2824C334.367 29.285 333.753 29.4282 333.194 29.7011L322.025 18.5302C321.471 17.9951 320.588 18.0106 320.053 18.5644C319.53 19.1054 319.53 19.962 320.053 20.503L331.216 31.6792C330.36 33.4277 330.849 35.5383 332.39 36.7303L324.334 62.2647C308.414 56.4002 300.262 38.7405 306.126 22.8203C311.991 6.90002 329.65 -1.25183 345.571 4.61266C361.491 10.4771 369.643 28.1374 363.778 44.0571C360.913 51.8351 355.026 58.1252 347.455 61.4989L346.584 57.3989C346.425 56.6454 345.684 56.1636 344.931 56.3233C344.693 56.3741 344.473 56.4857 344.291 56.6475L335.898 64.1409C335.322 64.653 335.271 65.5347 335.783 66.1105C335.95 66.2974 336.164 66.4362 336.403 66.5126L347.119 69.9327C347.852 70.1682 348.638 69.765 348.873 69.0312C348.948 68.7994 348.96 68.5527 348.91 68.3145L348.055 64.2915C360.445 59.0678 368.49 46.918 368.461 33.4715ZM334.983 32.0766C335.753 32.0766 336.378 32.7014 336.378 33.4715C336.378 34.2422 335.753 34.8665 334.983 34.8665C334.212 34.8665 333.588 34.2422 333.588 33.4715C333.588 32.7014 334.212 32.0766 334.983 32.0766ZM339.577 64.5916L344.355 60.3298L345.674 66.543L339.577 64.5916Z" fill="#212121"/>
<path d="M333.588 6.96729V9.7572C333.588 10.5278 334.212 11.1522 334.983 11.1522C335.753 11.1522 336.378 10.5278 336.378 9.7572V6.96729C336.378 6.19717 335.753 5.57233 334.983 5.57233C334.212 5.57233 333.588 6.19717 333.588 6.96729Z" fill="#2196F3"/>
<path d="M308.479 32.0765C307.708 32.0765 307.084 32.7014 307.084 33.4715C307.084 34.2421 307.708 34.8665 308.479 34.8665H311.269C312.039 34.8665 312.664 34.2421 312.664 33.4715C312.664 32.7014 312.039 32.0765 311.269 32.0765H308.479Z" fill="#2196F3"/>
<path d="M361.487 34.8665C362.257 34.8665 362.882 34.2421 362.882 33.4715C362.882 32.7014 362.257 32.0765 361.487 32.0765H358.697C357.927 32.0765 357.302 32.7014 357.302 33.4715C357.302 34.2421 357.927 34.8665 358.697 34.8665H361.487Z" fill="#2196F3"/>
</g>
<g clip-path="url(#clip1)">
<path d="M632.65 32.7351H634.982V43.2296H632.65V32.7351Z" fill="#2196F3"/>
<path d="M641.978 37.3993H644.31V43.2296H641.978V37.3993Z" fill="#2196F3"/>
<path d="M623.321 40.8975H625.653V43.2296H623.321V40.8975Z" fill="#2196F3"/>
<path d="M616.325 39.7314H618.657V43.2295H616.325V39.7314Z" fill="#2196F3"/>
<path d="M603.498 61.8865H659.469C661.401 61.8865 662.967 60.3202 662.967 58.3883V53.7241C662.967 51.7923 661.401 50.2259 659.469 50.2259H658.303V21.1469L664.926 14.8725C666.463 15.6303 668.324 15.1702 669.33 13.7816C670.337 12.3935 670.196 10.4821 668.997 9.25684C667.798 8.03157 665.89 7.8488 664.48 8.82412C663.07 9.80001 662.569 11.6499 663.293 13.2037L658.303 17.9345V15.2443C658.303 13.3124 656.736 11.7461 654.805 11.7461H608.162C606.231 11.7461 604.664 13.3124 604.664 15.2443V50.2259H603.498C601.566 50.2259 600 51.7923 600 53.7241V58.3883C600 60.3202 601.566 61.8865 603.498 61.8865ZM666.465 10.58C667.109 10.58 667.631 11.1021 667.631 11.7461C667.631 12.39 667.109 12.9121 666.465 12.9121C665.821 12.9121 665.299 12.39 665.299 11.7461C665.299 11.1021 665.821 10.58 666.465 10.58ZM606.996 15.2443C606.996 14.6003 607.518 14.0782 608.162 14.0782H654.805C655.449 14.0782 655.971 14.6003 655.971 15.2443V20.1414L653.639 22.3573V17.5764C653.639 16.9324 653.116 16.4103 652.473 16.4103H610.495C609.851 16.4103 609.328 16.9324 609.328 17.5764V46.7278C609.328 47.3717 609.851 47.8938 610.495 47.8938H652.473C653.116 47.8938 653.639 47.3717 653.639 46.7278V25.5651L655.971 23.3554V50.2259H606.996V15.2443ZM617.491 30.403C615.913 30.3984 614.528 31.4495 614.108 32.9703C613.689 34.491 614.338 36.104 615.695 36.9091C617.051 37.7142 618.779 37.5121 619.913 36.4149L623.966 38.4487C624.437 38.6844 625.008 38.5739 625.358 38.1805L633.974 28.4871L642.444 34.8338C642.899 35.1743 643.533 35.1378 643.945 34.7478L651.306 27.7748V45.5617H611.661V18.7424H651.306V24.5619L643.056 32.3747L634.515 25.9716C634.03 25.6084 633.348 25.6767 632.944 26.1294L624.21 35.9571L620.945 34.3242C620.969 34.1841 620.983 34.0429 620.989 33.9012C620.989 31.9693 619.423 30.403 617.491 30.403ZM618.657 33.9012C618.657 34.5451 618.135 35.0672 617.491 35.0672C616.847 35.0672 616.325 34.5451 616.325 33.9012C616.325 33.2572 616.847 32.7351 617.491 32.7351C618.135 32.7351 618.657 33.2572 618.657 33.9012ZM625.653 52.5581H637.314V53.7241C637.314 54.3681 636.792 54.8902 636.148 54.8902H626.819C626.175 54.8902 625.653 54.3681 625.653 53.7241V52.5581ZM602.332 53.7241C602.332 53.0802 602.854 52.5581 603.498 52.5581H623.321V53.7241C623.321 55.656 624.887 57.2223 626.819 57.2223H636.148C638.08 57.2223 639.646 55.656 639.646 53.7241V52.5581H659.469C660.113 52.5581 660.635 53.0802 660.635 53.7241V58.3883C660.635 59.0323 660.113 59.5544 659.469 59.5544H603.498C602.854 59.5544 602.332 59.0323 602.332 58.3883V53.7241Z" fill="#212121"/>
</g>
<path d="M969.943 9.89637C969.806 9.47513 969.442 9.16724 969.002 9.10298L964.823 8.49512L962.953 4.70809C962.561 3.91005 961.253 3.91005 960.861 4.70809L958.991 8.49512L954.811 9.10312C954.372 9.16724 954.008 9.47418 953.869 9.89651C953.732 10.3188 953.845 10.7831 954.164 11.0924L957.189 14.0407L956.475 18.2034C956.401 18.6409 956.58 19.0831 956.938 19.3445C957.301 19.6082 957.775 19.6407 958.168 19.4331L961.906 17.4672L965.644 19.4331C965.815 19.5229 966.002 19.5672 966.188 19.5672C966.429 19.5672 966.671 19.4925 966.874 19.3443C967.233 19.0831 967.413 18.6408 967.337 18.2033L966.623 14.0405L969.648 11.0923C969.965 10.7819 970.08 10.3187 969.943 9.89637ZM964.556 12.7991C964.282 13.0662 964.155 13.4536 964.221 13.8316L964.638 16.2688L962.45 15.1184C962.28 15.0286 962.093 14.9843 961.906 14.9843C961.72 14.9843 961.534 15.0286 961.362 15.1184L959.174 16.2688L959.591 13.8316C959.657 13.4536 959.531 13.0675 959.256 12.7991L957.484 11.0724L959.932 10.7166C960.312 10.6617 960.64 10.4226 960.811 10.0783L961.905 7.86169L962.999 10.0783C963.17 10.4225 963.497 10.6617 963.878 10.7166L966.325 11.0724L964.556 12.7991Z" fill="#2196F3"/>
<path d="M957.167 44.8923H954.834V47.2257H957.167V44.8923Z" fill="#2196F3"/>
<path d="M957.167 49.5591H954.834V51.8925H957.167V49.5591Z" fill="#2196F3"/>
<path d="M959.5 47.2257H957.167V49.5591H959.5V47.2257Z" fill="#2196F3"/>
<path d="M954.834 47.2257H952.5V49.5591H954.834V47.2257Z" fill="#2196F3"/>
<path d="M949 57.7259H946.667V60.0593H949V57.7259Z" fill="#2196F3"/>
<path d="M949 62.3926H946.667V64.726H949V62.3926Z" fill="#2196F3"/>
<path d="M951.334 60.0593H949V62.3927H951.334V60.0593Z" fill="#2196F3"/>
<path d="M946.667 60.0593H944.333V62.3927H946.667V60.0593Z" fill="#2196F3"/>
<path d="M935 53.0592H932.667V55.3926H935V53.0592Z" fill="#2196F3"/>
<path d="M935 57.7259H932.667V60.0593H935V57.7259Z" fill="#2196F3"/>
<path d="M937.333 55.3925H935V57.7259H937.333V55.3925Z" fill="#2196F3"/>
<path d="M932.667 55.3925H930.333V57.7259H932.667V55.3925Z" fill="#2196F3"/>
<path d="M912.833 13.3918H910.5V15.7252H912.833V13.3918Z" fill="#2196F3"/>
<path d="M912.833 18.0587H910.5V20.3921H912.833V18.0587Z" fill="#2196F3"/>
<path d="M915.166 15.7252H912.833V18.0586H915.166V15.7252Z" fill="#2196F3"/>
<path d="M910.5 15.7252H908.166V18.0586H910.5V15.7252Z" fill="#2196F3"/>
<path d="M954.064 30.9738C953.435 30.1256 952.512 29.5797 951.464 29.4326C950.412 29.2833 949.373 29.5597 948.533 30.2026L945.795 32.3014L945.794 32.3026L941.643 35.4025L938.672 34.2194C943.969 31.8429 947.671 26.545 947.671 20.3942C947.671 12.0314 940.84 5.22736 932.444 5.22736C924.047 5.22736 917.216 12.0314 917.216 20.3942C917.216 23.4253 918.123 26.2439 919.666 28.6158L913.62 28.5633C913.617 28.5633 913.613 28.5633 913.61 28.5633C913.591 28.5633 913.576 28.5726 913.559 28.5738C913.443 28.5785 913.33 28.6018 913.219 28.6415C913.191 28.652 913.162 28.6579 913.135 28.6706C913.121 28.6765 913.107 28.6776 913.093 28.6846L906.021 32.1764C906.02 32.1764 906.018 32.1764 906.018 32.1775L901.877 34.1693C901.831 34.1891 901.784 34.2159 901.739 34.2462C900.088 35.3452 899.526 37.5036 900.43 39.2676C900.912 40.2056 901.732 40.8963 902.74 41.2124C903.129 41.3337 903.525 41.3933 903.92 41.3933C904.553 41.3933 905.181 41.2381 905.756 40.9313L908.792 39.3167L913.744 36.7593L916.712 36.7418L904.808 48.5884C904.807 48.5896 904.806 48.5896 904.805 48.5907L901.876 51.5074C901.185 52.1958 900.804 53.1092 900.804 54.0835C900.804 55.0565 901.185 55.9723 901.876 56.6619C902.587 57.3689 903.522 57.7235 904.456 57.7235C905.392 57.7235 906.325 57.3689 907.038 56.6619L909.913 53.7988L913.721 50.9556L915.691 52.9179L911.838 56.7551C911.836 56.7564 911.835 56.7564 911.834 56.7575L908.906 59.6741C908.214 60.3625 907.833 61.2759 907.833 62.2502C907.833 63.2233 908.214 64.139 908.906 64.8286C909.616 65.5356 910.552 65.8903 911.486 65.8903C912.421 65.8903 913.357 65.5356 914.068 64.8286L916.998 61.912L921.684 57.2453C921.685 57.244 921.685 57.2429 921.687 57.2417L923.895 55.0542L923.887 55.046C923.901 55.032 923.921 55.0272 923.935 55.0122L935.235 42.6349L942.828 43.7152C942.883 43.7234 942.938 43.7269 942.993 43.7269C943.134 43.7269 943.27 43.6931 943.402 43.6429C943.441 43.629 943.474 43.6102 943.511 43.5916C943.553 43.5706 943.597 43.559 943.637 43.5322L950.666 38.8655C950.692 38.848 950.706 38.8199 950.73 38.8013C950.758 38.7792 950.793 38.7699 950.819 38.7453L953.6 36.1401C955.047 34.7841 955.247 32.5628 954.064 30.9738ZM904.66 38.8722C904.281 39.0752 903.851 39.1159 903.439 38.9854C903.03 38.8582 902.699 38.5793 902.505 38.2025C902.153 37.5164 902.357 36.6811 902.974 36.2296L905.848 34.8471L906.54 36.8689L906.83 37.7182L904.66 38.8722ZM912.31 34.874L908.923 36.6241L908.365 34.9907L907.963 33.8169L912.397 31.6282L912.31 34.874ZM945.34 20.3919C945.34 22.4009 944.861 24.2957 944.03 25.9907L934.883 21.8362C934.788 20.5821 934.137 19.4842 933.159 18.8005L936.361 8.16849C941.563 9.82295 945.34 14.6752 945.34 20.3919ZM919.552 20.3919C919.552 13.3159 925.336 7.55831 932.446 7.55831C932.999 7.55831 933.54 7.60493 934.076 7.67261L930.943 18.0713C930.901 18.0701 930.862 18.0585 930.819 18.0585C928.56 18.0585 926.722 19.8901 926.722 22.1419C926.722 24.3936 928.56 26.2254 930.819 26.2254C932.338 26.2254 933.65 25.3866 934.358 24.1591L942.807 27.9975C940.456 31.1615 936.694 33.2255 932.446 33.2255C925.336 33.2255 919.552 27.4679 919.552 20.3919ZM932.581 22.1419C932.581 23.1068 931.79 23.8919 930.819 23.8919C929.847 23.8919 929.056 23.1068 929.056 22.1419C929.056 21.1771 929.847 20.3919 930.819 20.3919C931.79 20.3919 932.581 21.1771 932.581 22.1419ZM905.392 55.0074C904.875 55.5196 904.038 55.5185 903.523 55.0087C903.274 54.7601 903.138 54.4324 903.138 54.0835C903.138 53.7358 903.274 53.4079 903.523 53.1618L905.627 51.0652L907.489 52.9191L905.392 55.0074ZM912.422 63.1743C911.905 63.6865 911.068 63.6877 910.552 63.1755C910.303 62.927 910.167 62.5993 910.167 62.2503C910.167 61.9027 910.303 61.5748 910.552 61.3287L912.658 59.231L913.539 60.1073L914.521 61.0849L912.422 63.1743ZM920.038 55.5862C920.037 55.5873 920.036 55.5873 920.035 55.5885L916.174 59.4385L915.293 58.5623L914.311 57.5846L918.168 53.7451C918.168 53.7451 918.168 53.7451 918.168 53.744C918.169 53.7428 918.17 53.7428 918.172 53.7417C918.259 53.6542 918.314 53.5492 918.368 53.4454C918.383 53.415 918.412 53.3893 918.425 53.3579C918.461 53.2681 918.467 53.1713 918.481 53.0767C918.488 53.0229 918.511 52.9729 918.511 52.9179C918.511 52.8397 918.483 52.764 918.467 52.6869C918.453 52.6169 918.453 52.5456 918.426 52.4781C918.382 52.3684 918.306 52.2716 918.227 52.177C918.204 52.1513 918.196 52.1186 918.172 52.0942C918.172 52.0942 918.172 52.0942 918.17 52.0942C918.169 52.0931 918.169 52.0906 918.168 52.0895L914.653 48.5895C914.616 48.5521 914.568 48.537 914.526 48.5055C914.464 48.4577 914.405 48.4134 914.336 48.3795C914.269 48.3468 914.201 48.327 914.131 48.3082C914.057 48.2872 913.984 48.2709 913.906 48.265C913.835 48.2604 913.769 48.2674 913.698 48.2756C913.619 48.2849 913.546 48.2954 913.47 48.3199C913.396 48.3432 913.331 48.3793 913.264 48.4179C913.22 48.4424 913.171 48.4506 913.131 48.4809L909.251 51.3767L907.281 49.4143L912.529 44.1946L922.067 53.576L920.038 55.5862ZM934.954 40.2372C934.921 40.2325 934.889 40.2454 934.855 40.2431C934.77 40.2384 934.689 40.2443 934.603 40.2582C934.537 40.2699 934.474 40.2827 934.411 40.3049C934.336 40.3306 934.269 40.3656 934.2 40.4075C934.134 40.4472 934.075 40.4892 934.018 40.5417C933.99 40.5661 933.956 40.5779 933.93 40.6058L923.653 51.862L914.185 42.5506L920.382 36.3859C920.839 35.9309 920.841 35.1923 920.386 34.735C920.156 34.5052 919.854 34.392 919.552 34.3932V34.3921L914.698 34.4212L914.759 30.9049L921.549 30.9633C924.317 33.7937 928.176 35.5589 932.446 35.5589C933.403 35.5589 934.336 35.4598 935.245 35.2905C935.332 35.3605 935.419 35.4317 935.528 35.476L940.8 37.5761L941.133 39.235L941.523 41.1717L934.954 40.2372ZM943.794 40.6269L943.11 37.2189L946.274 34.8564L947.102 35.9554L948.345 37.605L943.794 40.6269ZM952.005 34.4341L950.173 36.1514L948.136 33.4471L949.954 32.0529C950.294 31.7917 950.722 31.6854 951.142 31.7403C951.564 31.7997 951.938 32.0203 952.192 32.3621C952.666 33.0003 952.585 33.8905 952.005 34.4341Z" fill="#212121"/>
<path d="M929.755 40.5651L925.067 35.8984C924.613 35.4446 923.876 35.4446 923.421 35.8984L918.734 40.5651C918.515 40.7856 918.391 41.0819 918.391 41.3922C918.391 41.7026 918.513 42.0001 918.734 42.2194L923.421 46.8861C923.648 47.1124 923.947 47.2256 924.244 47.2256C924.542 47.2256 924.84 47.1124 925.067 46.8861L929.755 42.2194C929.974 42.0001 930.099 41.7026 930.099 41.3922C930.099 41.0819 929.975 40.7844 929.755 40.5651ZM924.244 44.4128L921.211 41.3922L924.244 38.3717L927.279 41.3922L924.244 44.4128Z" fill="#212121"/>
<path d="M937.547 11.0923L936.983 13.358C937.138 13.3966 940.784 14.3462 940.784 18.0586H943.118C943.118 13.6461 939.474 11.5718 937.547 11.0923Z" fill="#212121"/>
<path d="M943.118 20.3919H940.784V22.7253H943.118V20.3919Z" fill="#212121"/>
<defs>
<clipPath id="clip0">
<rect width="70" height="70" fill="white" transform="translate(300)"/>
</clipPath>
<clipPath id="clip1">
<rect width="70" height="70" fill="white" transform="translate(600)"/>
</clipPath>
</defs>
</svg> */
